<div>
    <h2>List Levels</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="list-level.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new List Level
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rank"><span>Rank</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="active"><span>Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="listId"><span>List</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="levelId"><span>Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="listLevel in vm.listLevels track by listLevel.id">
                    <td><a ui-sref="list-level-detail({id:listLevel.id})">{{listLevel.id}}</a></td>
                    <td>{{listLevel.rank}}</td>
                    <td>{{listLevel.active}}</td>
                    <td>
                        <a ui-sref="multi-list-detail({id:listLevel.listId})">{{vm.id2name(vm.multilists, listLevel.listId)}}</a>
                    </td>
                    <td>
                        <a ui-sref="level-detail({id:listLevel.levelId})">{{vm.id2name(vm.levels, listLevel.levelId)}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="list-level-detail({id:listLevel.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="list-level.edit({id:listLevel.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="list-level.delete({id:listLevel.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
