
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myListLevelLabel">Create or edit a List Level</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.listLevel.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.listLevel.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rank">Rank</label>
            <input type="number" class="form-control" name="rank" id="field_rank"
                    ng-model="vm.listLevel.rank"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="vm.listLevel.active"
                     />
        </div>

        <div class="form-group">
            <label for="field_list">List</label>
            <select class="form-control" id="field_list" name="list" ng-model="vm.listLevel.listId" ng-options="multiList.id as multiList.name for multiList in vm.multilists"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_level">Level</label>
            <select class="form-control" id="field_level" name="level" ng-model="vm.listLevel.levelId" ng-options="level.id as level.name for level in vm.levels"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
